<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<akka>
		<hocon>
			<![CDATA[
				akka {
					actor {
						provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
						
						serializers {
							hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
						}
      
						serialization-bindings {
							"System.Object" = hyperion
						}
						
						debug {
							receive = on
							autoreceive = on
							lifecycle = on
							event-stream = on
							unhandled = on
						}
						
						deployment {
							"/nonseed-test" {
								router = round-robin-pool
								cluster {
									enabled = on
									max-nr-of-instances-per-node = 5
									allow-local-routees = on
									use-role = non-seed-node
								}
							}
						}
					}
					remote {
						log-remote-lifecycle-events = DEBUG
						log-received-messages = on
						log-dead-letters = off

						helios.tcp {
							port = 4567
							hostname = 127.0.1.1
						}
					}
					cluster {
						seed-nodes = ["akka.tcp://TestCluster@127.0.1.1:4567"]
						roles = ["seed-node"]
					}
				}
			]]>
		</hocon>
	</akka>
</configuration>